<div [ngClass]="{navigation:true}">
  <button [ngClass]="{button:true}" (click)="toAddProductPage()">Add product</button>
  <button [ngClass]="{button:true}" (click)="toProductDetailsPage()">Product details</button>
  <button [ngClass]="{button:true}" (click)="toAllOrdersPage()">All orders</button>
  <button [ngClass]="{button:true}" (click)="toAllUsersPage()">All users</button>
  <button [ngClass]="{button:true}" (click)="toStatisticsPage()">Statistics</button>
</div>

<router-outlet></router-outlet>
