<div [ngClass]="{main:true}">
  <div [ngClass]="{formBlock:true}">
    <div><h2 [ngClass]="{addMonitor:true}">Add monitor</h2></div>
    <form [ngClass]="{form:true}" #monitorForm="ngForm">
      <p [ngClass]="{p:true}">Product name</p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="monitorName" [(ngModel)]="monitor.productName"
             #productName="ngModel"
             required>
      <p [ngClass]="{p:true}">Product description</p>
      <textarea [ngClass]="{textArea:true}" maxlength="1000" type="text" name="monitorDescription"
                [(ngModel)]="monitor.description"
                #description="ngModel"
                required></textarea>
      <p [ngClass]="{p:true}">Product price</p>
      <input [ngClass]="{input:true}" type="number" name="monitorPrice"
             [(ngModel)]="monitor.price" #price="ngModel">
      <p [ngClass]="{p:true}">Product status</p>
      <select [ngClass]="{select:true}" name="monitorStatus" [(ngModel)]="monitor.status" #status="ngModel" required>
        <option>In stock</option>
        <option>is over</option>
      </select>

      <p [ngClass]="{p:true}">Monitor type</p>
      <input [ngClass]="{input:true}" type="text" name="monitorType" [(ngModel)]="monitor.components[0].componentName"
             #monitorType="ngModel" required>
      <p [ngClass]="{p:true}">Screen diagonal</p>
      <input [ngClass]="{input:true}" type="number" name="screenDiagonal"
             [(ngModel)]="monitor.components[0].componentValues[0].propertyValue" #screenDiagonal="ngModel" required>
      <p [ngClass]="{p:true}">Screen extension</p>
      <input [ngClass]="{input:true}" type="text" name="screenExtension"
             [(ngModel)]="monitor.components[0].componentValues[1].propertyValue" #screenExtension="ngModel" required>
      <p [ngClass]="{p:true}">Frame rate</p>
      <input [ngClass]="{input:true}" type="number" name="frameRate"
             [(ngModel)]="monitor.components[0].componentValues[2].propertyValue" #frameRate="ngModel" required>
      <p [ngClass]="{p:true}">Display brightness</p>
      <input [ngClass]="{input:true}" type="number" name="displayBrightness"
             [(ngModel)]="monitor.components[0].componentValues[3].propertyValue" #displayBrightness="ngModel" required>
      <p [ngClass]="{p:true}">Display contrast</p>
      <input [ngClass]="{input:true}" type="number" name="displayContrast"
             [(ngModel)]="monitor.components[0].componentValues[4].propertyValue" #displayContrast="ngModel" required>
      <p [ngClass]="{p:true}">Matrix reaction time</p>
      <input [ngClass]="{input:true}" type="number" name="matrixReactionTime"
             [(ngModel)]="monitor.components[0].componentValues[5].propertyValue" #matrixReactionTime="ngModel"
             required>


      <p [ngClass]="{p:true}">Image</p>
      <input type="file" name="productImage" (change)="onSelectFile($event)">
      <p [ngClass]="{p:true}">{{message}}</p>
    </form>

    <button [ngClass]="{button:true}" (click)="save()" [disabled]="!monitorForm.valid ||!image||loading">save</button>
    <p [ngClass]="{p:true}">{{loading}}</p>
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
</div>


