.card {
  width: 260px;
  height: 380px;
  background-color: #fafafa;
  margin: 5px;
}
.productName {
  font-size: large;
  font-weight: bold;
  height: 50px;
  overflow: hidden;
}

.pictureBlock {
  width: 260px;
  height: 175px;
  display: flex;
  justify-content: center;
}

.picture {
  height: 100%;
  width: 98%;
  margin: auto;
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 20px/20px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: #116200;
}

.button:hover {
  color: black;
}

