.card {
  width: 260px;
  height: 340px;
  background-color: #fafafa;
  margin: 5px;
}

.pictureBlock {
  width: 260px;
  height: 175px;
  display: flex;
  justify-content: center;
}

.picture {
  height: 100%;
  width: 98%;
  margin: auto;
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
