<div [ngClass]="{card:true}">
  <div (click)="showDetails()">
    <div [ngClass]="{pictureBlock:true}">
      <img src="{{host+'/product/image/'+product.imageName}}" alt="" [ngClass]="{picture:true}">
    </div>
    <div>
      <p [ngClass]="{productName:true}">{{product.category + " " + product.productName}}</p>
      <p>{{product.status}}</p>
      <p>{{product.price}}</p>
    </div>
  </div>
  <div [ngClass]="{buttonsBlock:true}">
    <div>
      <button [ngClass]="{button:true}" (click)="removeProduct()">Remove from basket</button>
    </div>
  </div>
</div>

