<div *ngIf="productForUpdate">
  <form #updateComputerForm="ngForm">

    <p>Product name</p>
    <input type="text" name="computerName" [(ngModel)]="productForUpdate.name">

    <p>Product description</p>
    <textarea type="text" name="computerDescription" [(ngModel)]="productForUpdate.description"></textarea>

    <p>Product price</p>
    <input type="number" name="computerPrice" [(ngModel)]="productForUpdate.price">

    <p>Product status</p>
    <select name="computerStatus" [(ngModel)]="productForUpdate.status">
      <option>In stock</option>
      <option>is over</option>
    </select>

    <p>processor name</p>
    <input type="text" name="cpuName" [(ngModel)]="productForUpdate.components[0].componentName">

    <p>Processor clock speed</p>
    <input type="number" name="cpuClockSpeed"
           [(ngModel)]="productForUpdate.components[0].componentValues[0].propertyValue">

    <p>Processor number of cores</p>
    <input type="number" name="cpuNumberOfCores"
           [(ngModel)]="productForUpdate.components[0].componentValues[1].propertyValue">

    <p>Graphics card name </p>
    <input type="text" name="graphicsCardName"
           [(ngModel)]="productForUpdate.components[1].componentName">

    <p>Graphics card amount of video memory</p>
    <input type="number" name="graphicsCardAmountOfVideoMemory"
           [(ngModel)]="productForUpdate.components[1].componentValues[0].propertyValue">

    <p>RAM name</p>
    <input type="text" name="ramName" [(ngModel)]="productForUpdate.components[2].componentName">

    <p>Amount of RAM memory</p>
    <input type="number" name="mountOfRamMemory"
           [(ngModel)]="productForUpdate.components[2].componentValues[0].propertyValue">

  </form>
  <button (click)="updateComputer()">update</button>
  <button (click)="print()">print</button>
</div>

