<div [ngClass]="{main:true}">
  <div [ngClass]="{formBlock:true}">
    <div><h2 [ngClass]="{addComputer:true}">Add computer</h2></div>
    <form [ngClass]="{form:true}" #computerForm="ngForm">
      <p [ngClass]="{p:true}">Product name</p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="computerName" [(ngModel)]="computer.productName"
             #productName="ngModel"
             required>
      <p [ngClass]="{p:true}">Product description</p>
      <textarea [ngClass]="{textArea:true}" maxlength="1000" type="text" name="computerDescription"
                [(ngModel)]="computer.description"
                #description="ngModel"
                required></textarea>
      <p [ngClass]="{p:true}">Product price</p>
      <input [ngClass]="{input:true}" type="number" name="computerPrice"
             [(ngModel)]="computer.price" #price="ngModel">
      <p [ngClass]="{p:true}">Product status</p>
      <select [ngClass]="{select:true}" name="computerStatus" [(ngModel)]="computer.status" #status="ngModel" required>
        <option>In stock</option>
        <option>is over</option>
      </select>


      <p [ngClass]="{p:true}">Processor name</p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="cpuName"
             [(ngModel)]="computer.components[0].componentName"
             #cpuName="ngModel" required>
      <p>Processor clock speed</p>

      <input [ngClass]="{input:true}" [maxLength]="100" type="number" name="cpuClockSpeed"
             [(ngModel)]="computer.components[0].componentValues[0].propertyValue"
             #cpuClockSpeed="ngModel" required>
      <p [ngClass]="{p:true}">Processor number of cores</p>
      <input [ngClass]="{input:true}" maxlength="100" type="number" name="cpuNumberOfCores"
             [(ngModel)]="computer.components[0].componentValues[1].propertyValue"
             #cpuNumberOfCores="ngModel" required>


      <p [ngClass]="{p:true}">Graphics card name </p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="graphicsCardName"
             [(ngModel)]="computer.components[1].componentName"
             #graphicsCardName="ngModel" required>
      <p [ngClass]="{p:true}">Graphics card amount of video memory</p>
      <input [ngClass]="{input:true}" maxlength="100" type="number" name="graphicsCardAmountOfVideoMemory"
             [(ngModel)]="computer.components[1].componentValues[0].propertyValue"
             #graphicsCardAmountOfVideoMemory="ngModel" required>


      <p [ngClass]="{p:true}">RAM name</p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="ramName"
             [(ngModel)]="computer.components[2].componentName"
             #ramName="ngModel" required>
      <p [ngClass]="{p:true}">Amount of RAM memory</p>
      <input [ngClass]="{input:true}" maxlength="100" type="number" name="amountOfRamMemory"
             [(ngModel)]="computer.components[2].componentValues[0].propertyValue"
             #amountOfRamMemory="ngModel" required>


      <p [ngClass]="{p:true}">Image</p>
      <input type="file" name="productImage" (change)="onSelectFile($event)">
      <p [ngClass]="{p:true}">{{message}}</p>
    </form>

    <button [ngClass]="{button:true}" (click)="save()" [disabled]="!computerForm.valid ||!image||loading">save</button>
    <p [ngClass]="{p:true}">{{loading}}</p>
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
</div>

