<form #computerForm="ngForm"  >
  <p>Product name</p>
  <input type="text" name="computerName" [(ngModel)]="computer.name">
  <p>Product description</p>
  <textarea type="text" name="computerDescription" [(ngModel)]="computer.description"></textarea>
  <p>Product price</p>
  <input type="number" name="computerPrice" [(ngModel)]="computer.price">
  <p>Product status</p>
  <select name="computerStatus" [(ngModel)]="computer.status">
    <option>In stock</option>
    <option>is over</option>
  </select>
  <p>processor name</p>
  <input type="text" name="cpuName" [(ngModel)]="computer.components[0].componentName">
  <p>Processor clock speed</p>
  <input type="number" name="cpuClockSpeed" [(ngModel)]="computer.components[0].componentValues[0].propertyValue">
  <p>Processor number of cores</p>
  <input type="number" name="cpuNumberOfCores" [(ngModel)]="computer.components[0].componentValues[1].propertyValue">
  <p>Graphics card name </p>
  <input type=" text" name="graphicsCardName" [(ngModel)]="computer.components[1].componentName">
  <p>Graphics card amount of video memory</p>
  <input type="number" name="graphicsCardAmountOfVideoMemory" [(ngModel)]="computer.components[1].componentValues[0].propertyValue">
  <p>RAM name</p>
  <input type="text" name="ramName" [(ngModel)]="computer.components[2].componentName">
  <p>Amount of RAM memory</p>
  <input type="number" name="amountOfRamMemory" [(ngModel)]="computer.components[2].componentValues[0].propertyValue">
  <p>Image</p>
  <input type="file" name="productImage"  (change)="onSelectFile($event)">
  <p>{{message}}</p>
</form>
<button (click)="print()">print</button>
<button (click)="save()">save</button>
<div>
  <img [src]="imgURL" height="200"  *ngIf="imgURL">
</div>

