.main {
  width: 100%;
  height: 768px;
  background-color: #fafafa;
}

.imageAndDescription {
  display: flex;
  flex-direction: row;
}

.description {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.picture {
  width: 100%;
  height: auto;

}

.pictureBlock {
  width: 700px;
  margin-right: 20px;
}
.characteristics{
  background-color: #fafafa;
}
.button {
  cursor: pointer;
  height: 50px;
  text-transform: capitalize;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
  border-radius: 20px/20px;
  border: none;
  font-size: large;
  margin-left: 10px;
  background-color: #156901;
  color: white;
  font-weight: bold;
}

.button:hover {
  opacity: 80%;
}
