<div [ngClass]="{main:true}">
  <div [ngClass]="{header:true}">
    <button [ngClass]="{home:true}" (click)="toHomePage()">Internet Shop</button>
    <div [ngClass]="{navigation:true}">
      <a [ngClass]="{a:true}" (click)="toUserPage()" *ngIf="isAuthenticated()">User page</a>
      <a [ngClass]="{a:true}" (click)="toRegistrationPage()" *ngIf="!isAuthenticated()">Registration</a>
      <a [ngClass]="{a:true}" (click)="toAuthenticationPage()" *ngIf="!isAuthenticated()">Authentication
      </a>
      <a [ngClass]="{a:true}" (click)="logout()" *ngIf="isAuthenticated()">LogOut</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

