<div [ngClass]="{main:true}">
  <div [ngClass]="{header:true}">
    <button [ngClass]="{home:true}" (click)="toHomePage()">Home</button>
    <div [ngClass]="{auth:true}">
      <div [ngClass]="{block:true}" *ngIf="isAuthenticated()"><a routerLink="userPage">userPage</a></div>
      <div [ngClass]="{form:true}"><a routerLink="registration" *ngIf="!isAuthenticated()">Registration</a></div>
      <div [ngClass]="{form:true}"><a routerLink="authentication" *ngIf="!isAuthenticated()">Authentication</a></div>
      <button *ngIf="isAuthenticated()" (click)="logout()">logOut</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
