.main {
  background-color: #f5f5f5;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 33px;
  background-color: #555555;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home {
  background-color: #555555;
  color: white;
  font-weight: bold;
  font-size: large;
  border: none;
  width: 170px;
  /*padding: 10px 30px;*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
}

.a {
  border: none;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: large;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.82);
}


/*.userPage {*/
/*  width: 90px;*/
/*  height: 30px;*/
/*  background-color: #fafafa;*/
/*  margin-right: 1%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  font-size: 15px;*/
/*}*/

/*.logOut {*/
/*  width: 90px;*/
/*  height: 30px;*/
/*  background-color: #f0f0f0;*/
/*  margin-right: 1%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  cursor: pointer;*/
/*}*/

/*.registration {*/
/*  width: 100px;*/
/*  height: 30px;*/
/*  background-color: #f0f0f0;*/
/*  margin-right: 1%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*}*/

/*.authentication {*/
/*  width: 115px;*/
/*  height: 30px;*/
/*  background-color: #f5f5f5;*/
/*  margin-right: 1%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*  font-size: 15px;*/
/*}*/

/*.registration:hover {*/
/*  background-color: #e6e6e6;*/
/*}*/

/*.authentication:hover {*/
/*  background-color: #e6e6e6;*/
/*}*/

/*.home:hover {*/
/*  background-color: #e6e6e6;*/
/*}*/

/*.userPage:hover {*/
/*  background-color: #e6e6e6;*/
/*}*/

/*.logOut:hover {*/
/*  background-color: #e6e6e6;*/
/*}*/
