.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: 30px;
  background-color: #fafafa;
}

.block {
  width: content-box;
}

.auth {
  display: flex;
}

.form {
  margin-left: 20px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home{
  width: 60px;
  height: 30px;
  background-color: silver;
  font-size: 15px;
}
.h{
  background-color: black;
  height: 5px;
}
