
<div [ngClass]="{header:true}">
  <div [ngClass]="{block:true}" ><a routerLink="allProducts">All products</a></div>
  <div [ngClass]="{block:true}" *ngIf="isAuthenticated()"><a routerLink="userPage">userPage</a></div>
  <div [ngClass]="{auth:true}">
    <div [ngClass]="{form:true}"><a routerLink="registration">Registration</a></div>
    <div [ngClass]="{form:true}"><a routerLink="authentication">Authentication</a></div>
  <button *ngIf="isAuthenticated()" (click)="logout()">logOut</button>
  </div>
</div>
