<div *ngIf="singleProduct">
  <h2>{{singleProduct.productName}}</h2>
  <div [ngClass]="{pictureBlock:true}">
    <img src="{{host+'/product/image/'+singleProduct.id}}" alt="" [ngClass]="{picture:true}">
  </div>
  <button (click)="orderProduct(singleProduct)">Buy</button>
  <p>{{singleProduct.price}}</p>
  <p>{{singleProduct.description}}</p>
  <p>{{singleProduct.status}}</p>
  <div>
    <h2>Screen</h2>
    <p>{{singleProduct.components[0].componentName}}</p>
    <p>{{singleProduct.components[0].componentValues[0].propertyName}}</p>
    <p>{{singleProduct.components[0].componentValues[0].propertyValue}}</p>
    <p>{{singleProduct.components[0].componentValues[1].propertyName}}</p>
    <p>{{singleProduct.components[0].componentValues[1].propertyValue}}</p>
  </div>
  <div>
    <h2>Operating system</h2>
    <p>{{singleProduct.components[1].componentName}}</p>
    <p>{{singleProduct.components[1].componentValues[0].propertyName}}</p>
    <p>{{singleProduct.components[1].componentValues[0].propertyValue}}</p>
  </div>
</div>
