<div [ngClass]="{main:true}">
  <div [ngClass]="{formBlock:true}">
    <div><h2 [ngClass]="{addSmartphone:true}">Add smartphone</h2></div>
    <form [ngClass]="{form:true}" #smartphoneForm="ngForm">
      <p [ngClass]="{p:true}">Product name</p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="smartphoneName"
             [(ngModel)]="smartphone.productName"
             #productName="ngModel"
             required>
      <p [ngClass]="{p:true}">Product description</p>
      <textarea [ngClass]="{textArea:true}" maxlength="1000" type="text" name="smartphoneDescription"
                [(ngModel)]="smartphone.description"
                #description="ngModel"
                required></textarea>
      <p [ngClass]="{p:true}">Product price</p>
      <input [ngClass]="{input:true}" type="number" name="smartphonePrice"
             [(ngModel)]="smartphone.price" #price="ngModel">
      <p [ngClass]="{p:true}">Product status</p>
      <select [ngClass]="{select:true}" name="smartphoneStatus" [(ngModel)]="smartphone.status" #status="ngModel"
              required>
        <option>In stock</option>
        <option>is over</option>
      </select>


      <p [ngClass]="{p:true}">Processor name</p>
      <input [ngClass]="{input:true}" type="text" name="cpuName" [(ngModel)]="smartphone.components[0].componentName" #cpuName="ngModel"
             required>
      <p [ngClass]="{p:true}">Processor clock speed</p>
      <input [ngClass]="{input:true}" type="number" name="cpuClockSpeed" [(ngModel)]="smartphone.components[0].componentValues[0].propertyValue"
             #cpuClockSpeed="ngModel" required>
      <p [ngClass]="{p:true}">Processor number of cores</p>
      <input [ngClass]="{input:true}" type="number" name="cpuNumberOfCores"
             [(ngModel)]="smartphone.components[0].componentValues[1].propertyValue" #cpuNumberOfCores="ngModel"
             required>


      <p [ngClass]="{p:true}">Camera name </p>
      <input [ngClass]="{input:true}" type="text" name="cameraName" [(ngModel)]="smartphone.components[1].componentName" #cameraName="ngModel"
             required>
      <p [ngClass]="{p:true}">Number of cameras</p>
      <input [ngClass]="{input:true}" type="number" name="numberOfCameras"
             [(ngModel)]="smartphone.components[1].componentValues[0].propertyValue" #numberOfCameras="ngModel"
             required>
      <p [ngClass]="{p:true}">Number of megapixels of the front camera</p>
      <input [ngClass]="{input:true}" type="number" name="numberOFMegapixelsFrontCamera"
             [(ngModel)]="smartphone.components[1].componentValues[1].propertyValue"
             #numberOFMegapixelsFrontCamera="ngModel" required>


      <p [ngClass]="{p:true}">Amount of memory</p>
      <input [ngClass]="{input:true}" type="number" name="amountOfMemory" [(ngModel)]="smartphone.components[2].componentValues[0].propertyValue"
             #amountOfMemory="ngModel" required>
      <p [ngClass]="{p:true}">Amount of RAM memory</p>
      <input [ngClass]="{input:true}" type="number" name="amountOfRamMemory"
             [(ngModel)]="smartphone.components[2].componentValues[1].propertyValue" #amountOfRamMemory="ngModel"
             required>


      <p [ngClass]="{p:true}">Display type</p>
      <input [ngClass]="{input:true}" type="text" name="monitorType" [(ngModel)]="smartphone.components[3].componentName" #monitorType="ngModel"
             required>
      <p [ngClass]="{p:true}">screen diagonal</p>
      <input [ngClass]="{input:true}" type="number" name="screenDiagonal" [(ngModel)]="smartphone.components[3].componentValues[0].propertyValue"
             #screenDiagonal="ngModel" required>
      <p [ngClass]="{p:true}">screen extension</p>
      <input [ngClass]="{input:true}" type="text" name="screenExtension" [(ngModel)]="smartphone.components[3].componentValues[1].propertyValue"
             #screenExtension="ngModel" required>
      <p [ngClass]="{p:true}">frame rate</p>
      <input [ngClass]="{input:true}" type="number" name="frameRate" [(ngModel)]="smartphone.components[3].componentValues[2].propertyValue"
             #frameRate="ngModel" required>


      <p [ngClass]="{p:true}">Battery type</p>
      <input [ngClass]="{input:true}" type="text" name="batteryType" [(ngModel)]="smartphone.components[4].componentName" #batteryType="ngModel"
             required>
      <p [ngClass]="{p:true}">Battery capacity</p>
      <input [ngClass]="{input:true}" type="number" name="batteryCapacity"
             [(ngModel)]="smartphone.components[4].componentValues[0].propertyValue" #batteryCapacity="ngModel"
             required>

      <p [ngClass]="{p:true}">Operating system type</p>
      <input [ngClass]="{input:true}" type="text" name="operatingSystemType" [(ngModel)]="smartphone.components[5].componentName"
             #operatingSystemType="ngModel" required>
      <p [ngClass]="{p:true}">Operating system version</p>
      <input [ngClass]="{input:true}" type="number" name="operatingSystemVersion"
             [(ngModel)]="smartphone.components[5].componentValues[0].propertyValue" #operatingSystemVersion="ngModel"
             required>


      <p [ngClass]="{p:true}">Image</p>
      <input type="file" name="productImage" (change)="onSelectFile($event)">
      <p [ngClass]="{p:true}">{{message}}</p>
    </form>

    <button [ngClass]="{button:true}" (click)="save()" [disabled]="!smartphoneForm.valid ||!image||loading">save</button>
    <p [ngClass]="{p:true}">{{loading}}</p>
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
</div>


