<div [ngClass]="{page:true}">
  <div [ngClass]="{categories:true}">
    <h3 [ngClass]="{categoriesLogo:true}">Categories</h3>
    <button [ngClass]="{button:true}" (click)="(getAllProducts())">all</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'computer')">computers</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'smartphone')">smartphones</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'laptop')">laptops</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'tv')">TV</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'monitor')">monitors</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'smartWatch')">smart watch</button>
    <button [ngClass]="{button:true}" (click)="getProductByCategory(0,'console')">consoles</button>
  </div>
  <div [ngClass]="{productWithSettings:true}">
    <div>
      <form #findProductForm="ngForm" [ngClass]="{form:true}">
        <input [ngClass]="{input:true}" type="text" name="productName" [(ngModel)]="productName" required>
        <button [ngClass]="{findButton:true}" [disabled]="!findProductForm.valid" (click)="getProductByProductName()">
          find
        </button>
      </form>
    </div>
    <app-product-with-settings
      *ngFor="let product of products" [product]="product"
      (productSelected)="toProductDetails(product)"
      (productDeleted)="deleteComponent(product.id)"
    ></app-product-with-settings>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalElements"
                    pageSize="20"
                    maxSize="10"
                    [(page)]="page"
                    (pageChange)="onPageChange($event)" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>


