<div [ngClass]="{basket:true}">
  <div [ngClass]="{cards:true}">
    <app-product-card-in-basket *ngFor="let p of products" [product]="p" (productSelected)="toProductDetails(p,p.productId)"
                                (productDeleted)="deleteProduct(p.id)"></app-product-card-in-basket>
  </div>
  <ngb-pagination class="d-flex justify-content-center"
                  [collectionSize]="totalElements"
                  pageSize="25"
                  maxSize="10"
                  (pageChange)="onPageChange($event)" [boundaryLinks]="true"></ngb-pagination>
</div>
