<div [ngClass]="{main:true}">
  <div [ngClass]="{formBlock:true}">
    <div><h2 [ngClass]="{registration:true}">Registration</h2></div>
    <form [ngClass]="{form:true}" #registrationForm="ngForm">
      <p [ngClass]="{p:true}">Username</p>
      <input [ngClass]="{input:true}" type="text" name="Username" [(ngModel)]="user.username" #username="ngModel"
             required>
      <p [ngClass]="{p:true}">Password</p>
      <input [ngClass]="{input:true}" type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
             required>
      <p [ngClass]="{p:true}">Email</p>
      <input [ngClass]="{input:true}" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required>
      <p [ngClass]="{p:true}">PhoneNumber</p>
      <input [ngClass]="{input:true}" type="number" name="number" [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel"
             required>

    </form>
    <button [ngClass]="{button:true}" (click)="saveUser()" [disabled]="!registrationForm.valid||loading">Register
    </button>
    <p>{{loading}}</p>
  </div>
</div>



