<div *ngIf="singleProduct" [ngClass]="{main:true}">
  <h1>{{singleProduct.category }} {{singleProduct.productName}}</h1>
  <div>
    <div [ngClass]="{imageAndDescription:true}">
      <div [ngClass]="{pictureBlock:true}">
        <img src="{{host+'/product/image/'+singleProduct.id}}" alt="" [ngClass]="{picture:true}">
      </div>
      <div>
        <h3>{{singleProduct.status}}</h3>
        <h3>{{singleProduct.price}}</h3>
        <p [ngClass]="{description:true}">{{singleProduct.description}}</p>
        <button [ngClass]="{button:true}" (click)="orderProduct(singleProduct)">Buy</button>
      </div>
    </div>
    <div>
      <button [ngClass]="{button:true}" (click)="openCloseCharacteristics()">Characteristics</button>
      <div *ngIf="isCharacteristicsOpen" [ngClass]="{characteristics:true}">
        <div>


          <h2>Processor</h2>
          <p>Processor .....  {{singleProduct.components[0].componentName}}</p>
          <p> {{singleProduct.components[0].componentValues[0].propertyName}}
            .....  {{singleProduct.components[0].componentValues[0].propertyValue}}</p>
          <p> {{singleProduct.components[0].componentValues[1].propertyName}}
            .....  {{singleProduct.components[0].componentValues[1].propertyValue}}</p>
        </div>


        <div>
          <h2>Video card</h2>
          <p>Video card .....  {{singleProduct.components[1].componentName}}</p>
          <p>{{singleProduct.components[1].componentValues[0].propertyName}}
            .....  {{singleProduct.components[1].componentValues[0].propertyValue}}</p>
        </div>


        <div>
          <h2>RAM</h2>
          <p>RAM .....  {{singleProduct.components[2].componentName}}</p>
          <p>{{singleProduct.components[2].componentValues[0].propertyName}}
            .....  {{singleProduct.components[2].componentValues[0].propertyValue}}</p>
        </div>


        <div>
          <h2>Monitor</h2>
          <p>Monitor .....  {{singleProduct.components[3].componentName}}</p>
          <p>{{singleProduct.components[3].componentValues[0].propertyName}}
            .....  {{singleProduct.components[3].componentValues[0].propertyValue}}</p>
          <p>{{singleProduct.components[3].componentValues[1].propertyName}}
            .....  {{singleProduct.components[3].componentValues[1].propertyValue}}</p>
          <p>{{singleProduct.components[3].componentValues[2].propertyName}}
            .....  {{singleProduct.components[3].componentValues[2].propertyValue}}</p>
        </div>


        <div>
          <h2>Battery</h2>
          <p>Battery .....  {{singleProduct.components[4].componentName}}</p>
          <p>{{singleProduct.components[4].componentValues[0].propertyName}}
            .....  {{singleProduct.components[4].componentValues[0].propertyValue}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

