<ul>
  <a routerLink="/admin/addProduct/addComputer">
    <li>add computer</li>
  </a>
  <a routerLink="/admin/addProduct/addConsole">
    <li>add console</li>
  </a>
  <a routerLink="/admin/addProduct/addSmartphone">
    <li>add smartphone</li>
  </a>
  <a routerLink="/admin/addProduct/addLaptop">
    <li>add laptop</li>
  </a>
  <a routerLink="/admin/addProduct/addTV">
    <li>add TV</li>
  </a>
  <a routerLink="/admin/addProduct/addSmartWatch">
    <li>add smart watch</li>
  </a>
  <a routerLink="/admin/addProduct/addMonitor">
    <li>add monitor</li>
  </a>

</ul>
<router-outlet></router-outlet>
