<div *ngIf="productForUpdate" [ngClass]="{main:true}">
    <div><h2 [ngClass]="{updateSmartWatch:true}">Update smart-watch</h2></div>
  <div>
    <img src="{{host+'/product/image/'+productForUpdate.id}}" alt="" [ngClass]="{picture:true}">
  </div>
  <div [ngClass]="{formBlock:true}">
    <form [ngClass]="{form:true}" #updateSmartWatchForm="ngForm">
      <p [ngClass]="{p:true}">Product name</p>
      <input [ngClass]="{input:true}" maxlength="128" type="text" name="productForUpdateName"
             [(ngModel)]="productForUpdate.productName"
             #productName="ngModel"
             required>
      <p [ngClass]="{p:true}">Product description</p>
      <textarea [ngClass]="{textArea:true}" maxlength="1000" type="text" name="productForUpdateDescription"
                [(ngModel)]="productForUpdate.description"
                #description="ngModel"
                required></textarea>
      <p [ngClass]="{p:true}">Product price</p>
      <input [ngClass]="{input:true}" type="number" name="productForUpdatePrice"
             [(ngModel)]="productForUpdate.price" #price="ngModel">
      <p [ngClass]="{p:true}">Product status</p>
      <select [ngClass]="{select:true}" name="productForUpdateStatus" [(ngModel)]="productForUpdate.status"
              #status="ngModel"
              required>
        <option>In stock</option>
        <option>is over</option>
      </select>


      <p [ngClass]="{p:true}">Processor name</p>
      <input [ngClass]="{input:true}" type="text" name="cpuName"
             [(ngModel)]="productForUpdate.components[0].componentName"
             #cpuName="ngModel" required>
      <p [ngClass]="{p:true}">Processor clock speed</p>
      <input [ngClass]="{input:true}" type="number" name="cpuClockSpeed"
             [(ngModel)]="productForUpdate.components[0].componentValues[0].propertyValue" #cpuClockSpeed="ngModel"
             required>
      <p [ngClass]="{p:true}">Processor number of cores</p>
      <input [ngClass]="{input:true}" type="number" name="cpuNumberOfCores"
             [(ngModel)]="productForUpdate.components[0].componentValues[1].propertyValue" #cpuNumberOfCores="ngModel"
             required>


      <p [ngClass]="{p:true}">Amount of memory</p>
      <input [ngClass]="{input:true}" type="number" name="amountOfMemory"
             [(ngModel)]="productForUpdate.components[1].componentValues[0].propertyValue" #amountOfMemory="ngModel"
             required>
      <p [ngClass]="{p:true}">Amount of RAM memory</p>
      <input [ngClass]="{input:true}" type="number" name="amountOfRamMemory"
             [(ngModel)]="productForUpdate.components[1].componentValues[1].propertyValue" #amountOfRamMemory="ngModel"
             required>


      <p [ngClass]="{p:true}">Display type</p>
      <input [ngClass]="{input:true}" type="text" name="monitorType"
             [(ngModel)]="productForUpdate.components[2].componentName" #monitorType="ngModel" required>
      <p [ngClass]="{p:true}">screen diagonal</p>
      <input [ngClass]="{input:true}" type="number" name="screenDiagonal"
             [(ngModel)]="productForUpdate.components[2].componentValues[0].propertyValue" #screenDiagonal="ngModel"
             required>
      <p [ngClass]="{p:true}">screen extension</p>
      <input [ngClass]="{input:true}" type="text" name="screenExtension"
             [(ngModel)]="productForUpdate.components[2].componentValues[1].propertyValue" #screenExtension="ngModel"
             required>
      <p [ngClass]="{p:true}">frame rate</p>
      <input [ngClass]="{input:true}" type="number" name="frameRate"
             [(ngModel)]="productForUpdate.components[2].componentValues[2].propertyValue" #frameRate="ngModel"
             required>


      <p [ngClass]="{p:true}">Battery type</p>
      <input [ngClass]="{input:true}" type="text" name="batteryType"
             [(ngModel)]="productForUpdate.components[3].componentName" #batteryType="ngModel" required>
      <p [ngClass]="{p:true}">Battery capacity</p>
      <input [ngClass]="{input:true}" type="number" name="batteryCapacity"
             [(ngModel)]="productForUpdate.components[3].componentValues[0].propertyValue" #batteryCapacity="ngModel"
             required>


      <p [ngClass]="{p:true}">Operating system type</p>
      <input [ngClass]="{input:true}" type="text" name="operatingSystemType"
             [(ngModel)]="productForUpdate.components[4].componentName" #operatingSystemType="ngModel" required>
      <p [ngClass]="{p:true}">Operating system version</p>
      <input [ngClass]="{input:true}" type="number" name="operatingSystemVersion"
             [(ngModel)]="productForUpdate.components[4].componentValues[0].propertyValue"
             #operatingSystemVersion="ngModel"
             required>


      <p [ngClass]="{p:true}">Image</p>
      <input type="file" name="productImage" (change)="onSelectFile($event)">
      <p [ngClass]="{p:true}">{{message}}</p>
    </form>

    <button [ngClass]="{button:true}" (click)="updateProduct()" [disabled]="!updateSmartWatchForm.valid||loading">update</button>

    <p [ngClass]="{p:true}">{{loading}}</p>
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
</div>







